.cardProject {
    width: 300px;
    background-color: rgb(41, 39, 39);
    font-family: 'Quicksand', sans-serif;
  }
  
  .metaTitle .ant-card-meta-title {
    color: white;
  }
  
  .metaTitle .ant-card-meta-description {
    color: white;
  }

  .carousel .control-arrow,
  .carousel.carousel-slider .control-arrow {
    /* Aumentar el tamaño del icono */
    font-size: 30px; 
  
    /* Cambiar el color y añadir sombra para mayor visibilidad */
    color: rgb(41, 39, 39);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  
    /* Añadir un fondo semi-opaco con bordes redondeados */
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 2px; /* Ajusta el padding según el tamaño deseado */
  
    /* Asegúrate de que el botón sea completamente opaco al pasar el ratón */

  }

  .carousel .control-arrow:hover{
    background: rgba(0, 0, 0, 0.2);
  }

  .carousel.carousel-slider .control-arrow:hover{
    background: rgba(0, 0, 0, 0.2);
  }