.description{
    width: 1000px;
    height: 500px;
    /*border: 0.5px solid rgb(41, 39, 39);*/
    border-radius: 20px;
    margin: 20px auto;
    align-items: center;
    display: flex;
}

.description__text {
    flex: 1; /* El texto ocupará todo el espacio disponible */
}

.description__text--info{
    /*font-family: 'Chakra Petch', sans-serif;*/
    font-size: 50px;
    color: white;
    white-space: pre-line;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(41, 39, 39, 1.2);
}

.description__text--txt{
    font-size: 20px;
    color: white;
    white-space: pre-line;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(41, 39, 39, 1.2);
    word-wrap: break-word; 
    line-height: 1.5;
}

.description__photo{
    border-radius: 50%;
    border: 2px solid rgb(41, 39, 39);
    
}

.description__xp {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos al centro */
}
  
.description__xp--icon {
    margin-right: 10px; /* Añade un espacio entre el icono y el texto */
}

.description__xp--text{
    color: white;
}
  