.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alinea los elementos al principio */
    align-items: flex-start; /* Alinea los elementos al principio de la columna */
    gap: 40px; /* Espacio entre las tarjetas, ajustado a 20px */
    margin: 20px; /* Ajusta el margen según tus preferencias */
    margin-top: 40px; /* Espacio entre las filas */
    margin-right: -20px; /* Elimina el margen derecho adicional */
}

.container__card {
    position: relative;
    flex: 0 0 calc(25% - 20px); /* Elimina el espacio extra restando solo la mitad del gap */
    margin-bottom: 20px; /* Margen inferior para el espacio entre las filas */
    transition: transform 0.3s ease;
    box-sizing: border-box;
    padding: 15px; /* Ajusta si es necesario */
    /* Elimina cualquier margen derecho que pueda estar aquí */
}

.container__card:hover {
    transform: scale(1.05) !important;
    z-index: 1;
}

/* Ajustes responsivos para diferentes tamaños de pantalla */
@media (max-width: 1200px) {
    .container__card {
        flex: 0 0 calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .container__card {
        flex: 0 0 calc(100% - 20px);
    }
}
