.project-container {
    max-width: 800px; /* Establece un ancho máximo para el contenedor */
    margin: auto; /* Centra el contenedor horizontalmente */
    padding: 0 20px; /* Añade un poco de espacio alrededor del contenedor */
    text-align: center;
}

.project-container h2 {
    text-align: center; /* Centra el título */
}

.project-images {
    margin-top: 20px; /* Espacio entre la descripción y las imágenes */
}

.project-images img {
    max-width: 100%; /* Las imágenes ocuparán todo el ancho disponible */
    height: auto; /* Mantiene la proporción de aspecto */
}

.repo {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(41, 39, 39);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Agrega un espacio entre el enlace y las imágenes */
    outline: none; /* Elimina el contorno alrededor del enlace */
}
  
.repo:hover {
    background-color: rgb(61, 60, 60);
}
  
  

a:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el cursor */
}

.project-title{
    text-align: center;
    color: white;
}

.project-descripcion{
    text-align: center;
    color: white;
}
